<div class="bills-container h-screen w-full overflow-hidden flex">
  <app-sidebar></app-sidebar>

  <div class="content bg-gray-100 p-8 overflow-y-auto rounded-2xl flex-1">

    <header class="flex justify-between items-center mb-8">
      <h1 class="text-xl font-bold text-gray-500">Upcoming Bills</h1>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </header>

    <mat-card class="bg-white shadow-md rounded-lg p-6">
      <div *ngFor="let bill of bills" class="flex items-center justify-between border-b pb-4 mb-4">

        <div class="flex items-center">
          <div class="text-center bg-gray-200 rounded-lg p-4 mr-4">
            <p class="text-lg font-bold">{{ bill.dueDate | date: 'MMM' }}</p>
            <p class="text-sm">{{ bill.dueDate | date: 'dd' }}</p>
          </div>
          <div>
            <img [src]="bill.logo" alt="{{ bill.name }} logo" class="w-28 h-32 object-contain pl-4" />
          </div>
        </div>

        <div>
          <h2 class="text-lg font-bold">{{ bill.name }}</h2>
          <p class="text-sm text-gray-500">{{ bill.description }}</p>
        </div>

        <div class="text-center">
          <p class="text-sm text-gray-500">Last Charge</p>
          <p class="text-sm font-bold">{{ bill.lastCharge | date: 'dd MMM, yyyy' }}</p>
        </div>

        <div class="text-right">
          <p class="text-lg font-bold text-gray-800">${{ bill.amount }}</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
