<div class="settings-container flex h-screen overflow-hidden">
  <app-sidebar></app-sidebar>

  <div class="content flex-1 bg-gray-100 p-8 rounded-2xl overflow-y-auto">
    <header class="flex justify-between items-center mb-8">
      <h1 class="text-xl font-bold text-gray-500">Settings</h1>
      <button mat-icon-button>
        <mat-icon class="text-gray-500">settings</mat-icon>
      </button>
    </header>

    <mat-card class="p-6 bg-white shadow-md rounded-lg">
      <mat-card-header class="mb-8">
        <mat-card-title class=" font-bold text-gray-500">Account</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div>
            <div class="mb-4">
              <h3 class="text-sm text-gray-500 font-medium">Full Name</h3>
              <p class="text-base text-gray-800 font-bold pl-4">{{ user.fullName }}</p>
            </div>
            <div class="mb-4">
              <h3 class="text-sm text-gray-500 font-medium">Email</h3>
              <p class="text-base text-gray-800 font-bold pl-4">{{ user.email }}</p>
            </div>
            <div class="mb-4">
              <h3 class="text-sm text-gray-500 font-medium">Username</h3>
              <p class="text-base text-gray-800 font-bold pl-4">{{ user.username }}</p>
            </div>
            <div class="mb-4">
              <h3 class="text-sm text-gray-500 font-medium">Phone Number</h3>
              <p class="text-base text-gray-800 font-bold pl-4">{{ user.phone }}</p>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="pt-6">
        <button
          mat-raised-button
          color="primary"
          class="bg-teal-500 text-white py-2 px-6 rounded hover:bg-teal-600"
        >
          Update Profile
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
