<div class="overview-container h-screen w-full overflow-hidden flex">
  <app-sidebar></app-sidebar>

  <div class="content bg-gray-100 p-8 overflow-y-auto rounded-2xl flex-1">

    <header class="flex justify-between items-center mb-8">
      <div>
        <h1 class="text-xl font-bold">Hello {{ userName }}</h1>
        <p class="text-sm text-gray-500">{{ currentDate }}</p>
      </div>
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
    </header>

    <div class="widgets grid grid-cols-1 lg:grid-cols-3 gap-6">

      <mat-card class="p-4 bg-white shadow-md rounded-lg">
        <h1 class="text-xl font-bold text-gray-500">Total Balance</h1>
        <mat-card-header class="mb-4">
          <mat-card-title>
            <div class="flex justify-between">
            <p class="text-2xl text-gray-800 font-bold">${{accountDetails.totalBalance}}</p>
            <p class="text-sm text-gray-500 pl-32 pt-1 ">All Accounts</p>
          </div>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="bg-teal-500 p-4 mt-2 rounded">
            <div>
              <img [src]="accountDetails.logo" alt="{{accountDetails.accountType}}">
            </div>
            <p class=" text-white text-lg font-bold">{{ accountDetails.accountType }}</p>
            <div class="flex justify-between text-white">
              <p class="text-gray-200">{{accountDetails.accountNumber}}</p>
              <p class="font-bold">${{accountDetails.accountBalance}}</p>
            </div>
          </div>

        </mat-card-content>
      </mat-card>

      <mat-card class="p-4 bg-white shadow-md rounded-lg">
        <h1 class="text-xl font-bold text-gray-500">Goals</h1>
        <mat-card-header>
          <mat-card-title class="text-lg font-bold text-gray-800 flex items-center justify-between">
            <button mat-icon-button>
              <mat-icon class="text-gray-500">edit</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="flex items-center justify-between mb-4">
            <p class="text-2xl font-bold text-gray-800">$ {{ goals.target }}</p>
            <canvas id="gaugeChart" width="120" height="120"></canvas>
          </div>
          <div class="flex items-center">
            <mat-icon class="text-teal-500 mr-2">military_tech</mat-icon>
            <div>
              <p class="text-sm text-gray-500">Target Achieved</p>
              <p class="text-lg font-bold text-gray-800">$ {{ goals.targetAchieved }}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="p-4 bg-white shadow-md rounded-lg">
        <h1 class="text-xl font-bold text-gray-500">Upcoming bills</h1>

        <mat-card-content class="mt-4">
          <div *ngFor="let bill of upcomingBills" class="flex justify-between items-center text-sm text-gray-600">
            <div>
              <p class="text-gray-800">{{ bill.name }}</p>
              <p class="text-gray-500">{{ bill.date }}</p>
            </div>
            <p class="text-gray-800 font-bold">$ {{ bill.amount }}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="widgets grid grid-cols-1 lg:grid-cols-2 gap-6 mt-8">
      <!-- Recent Transactions -->
      <mat-card class="p-4 bg-white shadow-md rounded-lg">
        <mat-card-header class="mb-8">
          <mat-card-title>Recent Transactions</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let transaction of recentTransactions" class="flex justify-between text-sm text-gray-600">
            <p>{{ transaction.name }}</p>
            <p class="font-bold text-gray-800">$ {{ transaction.amount }}</p>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="p-4 bg-white shadow-md rounded-lg">
        <mat-card-header class="mb-8">
          <mat-card-title>Weekly Comparison</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <canvas id="statisticsChart" width="400" height="200"></canvas>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-card class="p-4 bg-white shadow-md rounded-lg mt-8">
      <mat-card-header class="mb-8">
        <mat-card-title>Expenses Breakdown</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let item of expenseBreakdown | keyvalue" class="flex justify-between">
          <p>{{ item.key }}</p>
          <p class="font-bold">$ {{ item.value }}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
